Source: ros-kilted-nodl-schema
Section: misc
Priority: optional
Maintainer: "ROSGraph Working Group" <rosgraph-wg@googlegroups.com>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, ros-kilted-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: https://index.ros.org/p/nodl_schema/#kilted
Standards-Version: 3.9.2

Package: ros-kilted-nodl-schema
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-jsonschema, python3-pydantic, python3-ruamel.yaml, python3-yaml, ros-kilted-ament-index-python, ros-kilted-ros-workspace
Description: ROS 2 Node Definition Language (NoDL) schema and validation.
